
/* .profile::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #811111;
    border-radius: 50%;
    inset: 5px;
    top: 0;
    left: 0;
} */

/* .profile::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: blue;
    border-radius: 50%;
    inset: 10px;
    top: 0;
    left: 0;
} */

@property  --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

.profile {
    background: #0b1931;
    /* background: repeating-conic-gradient(from var(--a), #ff2770  0%, 
    #ff2770 5%, transparent 0%, transparent 40%, #ff2770 50%);
    animation: animate 6s linear infinite; */
}

.profile::before {
    background: repeating-conic-gradient(from var(--a), #ff2770  0%, 
    #ff2770 5%, transparent 0%, transparent 40%, #ff2770 50%);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        --a: 0deg;
        -o---a: 0deg;
        -webkit---a: 0deg;
    }
    100% {
        --a: 360deg;
        -o---a: 360deg;
        -webkit---a: 360deg;
    }
}